.color-set {
  width: 30px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  font-size: 20px;
}
.colors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .color {
    font-size: 28px;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 44px;
    cursor: pointer;
    &:hover {
      color: #000;
    }
    svg {
      -webkit-transition: all 100ms ease-out;
      -moz-transition: all 100ms ease-out;
      -o-transition: all 100ms ease-out;
      transition: all 100ms ease-out;
    }
    &:hover > svg {
      transform: scale(1.4);
    }
  }
}
