$border-radius: 5px;
$toolbar-width: 55px;
.toolbar {
  position: absolute;
  width: $toolbar-width;
  margin: auto 0;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.85);
  .tool {
    width: $toolbar-width;
    height: 45px;
    font-size: 24px;
    text-align: center;
    line-height: 2;
    border: 1px solid #eaeaea;
    border-bottom: 0;
    border-top: 0;
    color: #676767;
    cursor: pointer;
    &:last-of-type {
      border-bottom: 1px solid #eaeaea;
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
    &:first-of-type {
      border-top: 1px solid #eaeaea;
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
    }
    &:hover {
      background-color: #f1f1f1;
      border-color: #f1f1f1;
    }
    &.active {
      background-color: #2bad7e;
      border-color: #2bad7e;
      color: white;
    }
  }
}
